.blue {
    background-color: royalblue;
}

.red {
    color: salmon;
}

.green {
    background-color: seagreen;
}

p {
    transition: background-color 1s ease;
}

.external {
    color: white;
}

.binaire {
    margin: 1rem auto;
}