.spoiler-content {
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .5s ease-in;
    background-color: black;
    color: white;
    &.visible {
        display: inline;
        width: auto;
        height: auto;
        opacity: 1;
    }
}