$breakpoint-mobile: 400px;
$breakpoint-ipad: 768px;

$primary-color: #676bc0;
$secondary-color: #60d2d6;
$third-color: #a32913;
$fourth-color: #2fa04b;
$fifth-color: #8f2cad;

$facebook-color: #3b5998;
$bandcamp-color: #629aa9;
$youtube-color: #c4302b;
$linkedin-color: #007BB5;
$twitter-color: #00acee;
$snapchat-color: #FFFC00;
$tiktok-aqua: #00f2ea;
$tiktok-red: #ff0050;